html
    head
        script(src='/nameHandler.js')
        link(rel='stylesheet' href='/style.css')
    body
        input(placeholder="please enter your name" style="font-size:2em" id='input')
        button(onclick="addName()") submit
