body {
    background: steelblue;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#result {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items:center;
    background: lightgray;
    text-align: center;
    margin: 1em;
    font-size: 3em;
    width: 5em;
    height: 5em;
    border: 3px solid black;
}

#title {
    font-family: sans-serif;
    color: steelblue;
    font-weight: bold;
    margin-top: 1em;
    font-size: 2rem;
}

#sumBox {
    margin-bottom: 1em;
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    justify-content: center;
}

#sum {
    color: #444444;
    text-size: 4em;
    text-align: center;
}

#number {
    background: #E6E6E6;
    border: none;
    text-align: center;
    padding: 0.3em;
    width: 8em;
    font-size: 2em;
}

#submit {
    font-size: 2em;
    cursor: pointer;
    border: none;
    background:#5CB9FC;
    margin:1em;
    width: 5em;
    height: 2em;
}

#submit:hover {
    background: #55A5EE;
}

#submit:active {
    background: #3C99DC;
}
